

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.animate-gradient {
    background-size: 200% 200%;
    animation: gradient 3s linear infinite;
}

.floating-image {
    position: absolute;
    top: 40%;
    right: 13%;
    width: 30%;
    height: auto;

}


h1 {
    font-family: 'pan', sans-serif;
}
