.googleLoginBox {
    background-color: #ededed;
    color: #303030;
    padding: 12px 25px;
    border-radius: 80px;
    border: none;
    outline: none;
    text-decoration: none;
    font-family: 'Lexend', sans-serif;
}

.googleLoginBox:hover {
    background: linear-gradient(90deg, #CAFF33, #9D5CE9);
}